Dockerfiles/data/
Dockerfiles/elasticsearch/nodes/
Dockerfiles/postgresql_data/
Dockerfiles/redis_data/
Dockerfiles/grafana_data/csv
Dockerfiles/grafana_data/png
Dockerfiles/grafana_data/grafana.db
Dockerfiles/influxdb_data/
Dockerfiles/graphite_data/
Dockerfiles/dags/__pycache__/
Docker
*.swp
desktop.ini
.vscode