body {
    margin: 0; padding: 0;
    font-family: 'NanumSquare', sans-serif;
    background: #F0F0F0;
} .normal {
    font-weight: 400;
} .bold {
    font-weight: 700;
} .bolder {
    font-weight: 800;
} .light {
    font-weight: 300;
}

.url_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} .url_div {
    width: 450px;
    height: 600px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} .channel {
    margin-top: 20px;
    width: 80%;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
} .custom-select-wrapper select {
    display: none;
} .custom-select {
    position: relative;
    display: inline-block;
} .custom-select-trigger {
    position: relative;
    display: block;
    width: 310px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid lightgray;
    outline: none;
    padding: 0px 20px;
    line-height: 50px;
    cursor: pointer;
    color: gray;
} .custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #234AB9;
    border-right: 1px solid #234AB9;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
} .custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
} .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
} .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
} .custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
} .option-hover:before {
    background: #0054FF;
} .custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    color: #b5b5b5;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
} .custom-option:first-of-type {
    border-radius: 25px 25px 0 0;
} .custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 25px 25px;
} .custom-option:hover, .custom-option.selection {
    background: #0054FF;
    color: #fff;
}

.video_url {
    margin-top: 20px;
    width: 80%;
} .video_url input {
    width: 310px;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
    color: gray;
    font-size: 16px;
    font-family: 'NanumSquare';
}

.searchbar {
    width: 100%;
}

.submit_btn {
    margin-top: 50px;
    width: 80%;
} .submit_btn input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: #0054FF;
    color: white;
    font-family: 'NanumSquare';
    font-size: 16px;
    letter-spacing: 2px;
}

.icon_btn {
    width: 180px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header {
    background: linear-gradient(to left, #0054FF, #0030DB);
    height: 40px;
} .icon_result {
    height: 80%;
    margin: 3px;
}

.wrap {
    margin: 0 auto;
    background: white;
    width: 100%; max-width: 1200px;
    height: 100%;
    vertical-align: top;
    padding: 10px;
    text-align: center;

}

.title_table {
    width: 100%; max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.chat_table_div {
    display: inline-block;
    width: 100%; max-width: 400px;
    vertical-align: top;
    margin-bottom: 10px;
} .chat_table {
    width: 100%;
    table-layout: fixed;
    margin: 7px;
} .chat_td {
    padding: 7px;
    text-align: left;
} .chat_div {
    width: 100%;
    overflow-x: auto;
    height: 580px;
    white-space:normal;
    word-break:break-all;
}

.etc_div {
    display: inline-block;
    width: 100%; max-width: 750px;
    padding: -10px;
}

.word_cloud {
    width: 90%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #ffffff;
} ::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;
} ::-webkit-scrollbar-thumb:hover {
        background-color: #adb5bd;
} ::-webkit-scrollbar-track {
    background: #F6F6F6;
}

.float_btn {
    position: fixed; bottom: 10px; right: 10px;
} .btn-floating {
    color: #fff;
    padding: 0;
    margin: 3px;
    width: 55.5px; height: 55.5px;
    display: inline-block;
    outline: 0;
    border: none;
    text-decoration: none;
    background: #0054FF;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
} .btn-floating:hover {
    background: #0030DB;
} .btn-floating div {
    font-size: 1.8em;
    padding: 0;
    margin: .22em 0 0 0;
}

.modal {
    display: none;
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.3);
} .modal-con {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    min-height: 30%;
    background: #ffffff;
    width: 500px;
} .modal-con .title {
    font-size: 20px;
    text-align: center;
} .modal-con .con {
    font-size: 15px;
    padding: 30px;
} .modal-con .close {
    display: block;
    position: absolute;
    width: 30px; height: 30px;
    text-align:center; line-height: 30px;
    text-decoration: none;
    color: lightgray;
    right: 10px; top: 10px;
} .question_form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
} .question_form div+div {
    margin-top: 1em;
} .question_form {
    display: inline-block;
    width: 400px;
    text-align: right;
} .question_button {
    padding-left: 90px;
    margin-left: .5em;
} .question {
    font: 1em;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
} .question:focus {
    border-color: #000;
} .question.textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
} label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

.icon {
    width: 30px;
} .icon.home {
    position: absolute; bottom: 155px; right: 15px;
} .icon.dashboard {
    position: absolute; bottom: 87px; right: 16px;
} .icon.contact {
    position: absolute; bottom: 20px; right: 15px;
}

.container-fluid{
    margin-right:auto;
    margin-left:auto;
} .row{
    margin-right:-15px;
    margin-left:-15px;
} .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align:middle;
} .switch input {
   display:none;
} .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
} .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} .switch_input:checked + .slider {
    background-color: #2196F3;
} .switch_input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
} .switch_input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} .slider.round {
    border-radius: 34px;
} .slider.round:before {
    border-radius: 50%;
} .switch_text {
	margin:0px;
	margin-left: 5px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}

.detail:link {
    color: #000;
    text-decoration: none;
    box-shadow: 0 -6px rgba(75, 112, 253, 0.3) inset;
} .detail:visited {
    color: #000;
    text-decoration: none;
    box-shadow: 0 -6px rgba(140, 89, 185, 0.3) inset;
}