{% extends 'layout.html' %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/prefixfree.min.js') }}"></script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

<form action="chatcategory" method="post" enctype="multipart/form-data">
    <div class="url_wrap">
        <div class="url_div">
            <img class="icon_btn" src="{{ url_for('static', filename='logo_new.png') }}" />
            <div class="channel">
                <p>채널</p>
                <select name="sources" id="sources" class="custom-select sources" placeholder="채널을 선택하세요">
                    <option value="youtube">유튜브</option>
                    <option value="twitch">트위치</option>
                    <option value="n_shoppinglive">네이버 쇼핑라이브</option>
                </select>
            </div>
            <div class="video_url">
                <p>URL</p>
                <input class="searchbar" type="text" name="searchbar" placeholder="검색하고자 하는 URL을 입력하세요">
            </div>
            <div class="submit_btn">
                <input type="submit" value="START">
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/select.js') }}"></script>

{% endblock %}