{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
            </script>
        {% endif %}
    {% endwith %}
    <form action="chatcategory" method="post" enctype="multipart/form-data">
        <table class="search_table">
            <tbody>
            <tr>
                <th class="search_th">
                    <select name="categories">
                        <option value="youtube">유튜브</option>
                        <option value="twitch">트위치</option>
                        <option value="afreecatv">아프리카TV</option>
                    </select>
                </th>
                <th width="80%"  class="searchth">
                    <input class="searchbar" type="text" name="searchbar" placeholder="검색하고자 하는 URL을 입력하세요">
                </th>
                <th class="search_th">
                    <input class="btn" type="submit" value="검색"/>
                </th>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}